@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif !important;
    background: #ebe9e9;
}

header{
    width: 100%;
    height: 70px;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

header .row{
    margin: 0px important!; 
}

header .logo{text-decoration: none;}
header .logo img {
    width: 75px;
    margin: 10px;
}
header .logo span{color: #292929; font-weight: 800; font-size: 24px;}

header button.rounded-circle{min-width: 40px !important; width: 40px !important; height: 40px !important; background: #f0f5ff !important; color: #0858f7;} 
header button.rounded-circle svg{color: #292929; font-size: 18px !important; transition: all 0.2s ease-in-out;}

header button.rounded-circle:hover svg{color: #0858f7 !important;}

.searchBox{
    width: 400px;
    height: 50px;
    background: #f0f5ff;
    border-radius: 6px;
    padding: 3px 15px;
}

.searchBox input{
    border: 0px !important;
    outline: none;
    background: transparent;
    padding-left: 5px;
    font-size: 14px;
    color: #292929;
}

.searchBox input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.6);
}

.searchBox svg{
    font-size: 18px;
    color: #292929;
}

.myAcc{text-align: left !important; color: #0858f7 !important; text-transform: capitalize !important;}
.userImg{display: flex; align-items: center; justify-content: center; overflow: hidden;
    width: 40px; height: 40px; border: 1px solid #0858f7; padding: 2px; border-radius: 100%;}
.userImg .rounded-circle{display: flex; align-items: center; justify-content: center; overflow: hidden; width: 100%px; height: 100%px; cursor: pointer; position: relative;}
.userImg .rounded-circle img{object-fit: cover; width: 100%; height: 100%;}

.myAcc .userInfo{
    margin-left: 10px;
}
.myAcc .userInfo h4{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
}
.myAcc .userInfo p{
    margin-top: 0px;
    font-size: 12px;
    color: #000;
    opacity: 0.7;
    text-transform: none;
}

#account-menu li{
    font-size: 14px important!; 
    padding: 12px 15px !important;
}

#account-menu li svg{
    font-size: 20px !important;
}

.main .sidebarWrapper{
    width: 20%;
    flex: 0 0 20%;
    transition: all 0.3s;
}

.main .sidebarWrapper.toggle{
    width: 0%;
    flex: 0 0 0%;}

.main .sidebarWrapper .sidebar{
    width: 20%;
    height: 100vh;
    max-height: calc( 100% - 70px );
    position: fixed;
    top: 70px;
    left: 0px;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 40px;
    transition: all 0.3s;
}

.main .sidebarWrapper.toggle .sidebar{
    left: -100%;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar{
    width: 3px !important;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb{
    background: transparent !important;
}

.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar{
    background: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul{
    margin-bottom: 0px;
    padding: 10px 15px;
}

.main .sidebarWrapper .sidebar ul li{
    list-style: none;
}

.main .sidebarWrapper .sidebar ul li button{
    color: #5e5d72 !important;
    text-align: left;
    justify-content: left;
    border-radius: 10px !important;
    padding: 12px 10px !important;
    align-items: center;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 15px !important;
}

.main .sidebarWrapper .sidebar ul li button .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.main .sidebarWrapper .sidebar ul li button .icon svg{
    font-size: 22px;
}

.main .sidebarWrapper .sidebar ul li button *{
    color: #5e5d72 !important;
}

.main .sidebarWrapper .sidebar ul li button .arrow{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar ul li button.active .arrow{
    transform: rotate(90deg);
}

.main .sidebarWrapper .sidebar ul li button:hover{
    background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar ul li button.actvie{
    background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar ul .submenu{
    padding: 0px 45px;
    position: relative;
}

.main .sidebarWrapper .sidebar ul .submenu::before{
    content: '';
    width: 1px;
    height: 95%;
    position: absolute;
    top: 0px;
    left: 25px;
    background: rgba(0, 0, 0, 0.2);
}

.main .sidebarWrapper .sidebar ul .submenu li{
    width: 100%;
    list-style: none;
}

.main .sidebarWrapper .sidebar ul .submenu li a{
    color: #5e5d72 !important;
    text-decoration: none;
    display: block;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s;
}

.main .sidebarWrapper .sidebar ul .submenu li a:hover{
    color: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed{
    height: 0px;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed .submenu{
    opacity: 0;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper{
    transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse{
    height: auto;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse .submenu{
    opacity: 1;
}

.main .content{
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3;
}

.main .content.toggle{
    width: 100%;
    flex: 0 0 100%;
}

.right-content{
    padding: 90px 30px;
}

.dashboardBoxWrapper{
    gap:20px;
    width: 100%;
    flex-wrap: wrap;
}

.dashboardBoxWrapper .dashboardBox{
    width: 48%;
    height: 170px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left !important;
}

.ml-auto {
    margin-left: auto !important;
}

.dashboardBoxWrapper .dashboardBox .col1 h4{
    font-size: 16px;
    font-weight: 500;
}

.dashboardBoxWrapper .dashboardBox .col1 span{
    font-size: 35px !important;
    font-weight: bold;
    line-height: 45px;
}

.dashboardBoxWrapper .dashboardBox .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}

.dashboardBoxWrapper .dashboardBox .icon svg{
    font-size: 36px;
    opacity: 0.4;
    color: #fff;
}

.dashboardBoxWrapper .dashboardBox  .toggleIcon{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.dashboardBoxWrapperRow .box{
    width: 100%;
    height: 100%;
    background: #ccc;
}

.graphBox{
    background-image: linear-gradient(#1a30b5, #2a6ff7) !important;
    border-radius: 10px;
    padding: 25px;
}

.graphBox .toggleIcon{
    font-size: 22px;
    opacity: 1 !important;
    color: #fff;
    cursor: pointer;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.graphBox h4{
    font-size: 16px;
    font-weight: 600;
}

.graphBox p{
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}

.card{
    margin: 20px 0px;
    border-radius: 10px;
}

.card .hd{
    font-size: 18px;
    font-weight: bold;
    color: #403e57;
}

.cardFilters .col h4{
    font-size: 14px;
    font-weight: 800;
    text-transform: capitalize;
    color: #403e57;
}

h1, h2, h3, h4, h5, h6, p{
    color: #403e57;
}

.table .thead-dark th{
    background-color: #1866ee !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
    font-size: 13px !important;
}

.table tbody td{
    font-size: 13px !important;
    color: #2f2d3e;
    font-weight: 500;
}

.table tbody .actions button{
    min-width: 32px !important;
    width: 32px !important;
    height: 32px !important;
    margin: 0px 3px !important;
}

.table tbody .actions button.secondary {
    background: #cb3ce733 !important;
}

.table tbody .actions button.success{
    background: rgba(26, 159, 83, 0.1) !important;
}

.table tbody .actions button.error{
    background: rgba(241, 17, 51, 0.1) !important;
}

.table tbody .actions button svg{
    font-size: 32px !important;
}

table.v-align td{
    vertical-align: middle !important;
}

.table td .old, .table td .new{
    display: block;
    width: 100%;
}

table td .imgWrapper{width: 20%; flex: 0 0 20%;}

table td .imgWrapper .card {
    border-radius: 10px !important;
    overflow: hidden !important;
}


table td .info{
    width: 65%;
    flex: 0 0 65%;
}

table td .info h6{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}

    table.v-align td .info p{
        font-size: 13px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #5e5d72;
        margin-bottom: 0px;
    }

table.v-align td .productBox{
    width: 250px;
}

.tableFooter{
    padding: 20px;
}
.tableFooter .pagination{
    margin-left: auto;
}



